body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
}
.w-per50{
    width: 50%;
}
.w50{
width: 50px;
}
.w80{
width: 80px;
}
.w100{
    width: 100px;
}
.w120{
width: 120px;
}
.w150{
width: 150px;
}
.w200{
    width: 200px;
}
.w250{
    width: 250px;
}
.w300{
    width: 300px;
}
.w400{
    width: 400px;
}
.w420{
    width: 420px;
}
.w500{
    width: 500px;
}
.w600{
    width: 600px;
}
.w700{
    width: 700px;
}
.c999{
    color: #999;
}
.h38{
    height: 38px;
}
.dib{
    display: inline-block;
}
.min-w200{
    min-width: 200px;
}
.grid-plr15{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.grid-plrb15{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}
.mr5{
    margin-right: 5px;
}
.mr20{
    margin-right: 20px;
}
.mb0{
    margin-bottom: 0 !important;
}
.mb5{
    margin-bottom: 5px;
}
.mb8{
    margin-bottom: 8px;
}
.mb10{
    margin-bottom: 10px;
}
.mb12{
    margin-bottom: 12px;
}
.mb15{
    margin-bottom: 15px;
}
.mb20{
    margin-bottom: 20px;
}
.mb50{
    margin-bottom: 50px;
}
.mt8{
    margin-top: 8px;
}
.mt10{
    margin-top: 10px;
}
.mt15{
    margin-top: 15px !important;
}
.mt50{
    margin-top: 50px;
}
.mt60{
    margin-top: 60px;
}
.mt-reduce10{
    margin-top: -10px;
}
.mr10{
    margin-right: 10px;
}
.mtb35{
    margin-top: 35px;
    margin-bottom: 35px;
}
.mtb45{
     margin-top: 45px;
     margin-bottom: 45px;
}
.mtb50{
    margin-top: 50px;
    margin-bottom: 50px;
}

.bgfff{
    background-color: #fff;
}
.h10{
    height: 10px;
}
.plr25{
    padding-left: 25px;
    padding-right: 25px;
}
.plr15{
    padding-left: 15px;
    padding-right: 15px;
}
.plr20{
    padding-left: 20px;
    padding-right: 20px;
}
.pl120{
    padding-left: 120px;
}
.float-left, .fl{
    float: left;
}
.float-right, .fr{
    float: right;
}
a{
    cursor: pointer;
}
.fs18{
     font-size: 18px;
}
.fs18-c40{
    font-size: 18px;
    color: #404040;
}
.fs27-c40{
    font-size: 27px;
    color: #404040;
}
.red{
    color: red;
}
.default-blue{
    color: #1badc4;
}
p{
    color: #666666;
}
.relative{
    position: relative;
}
.no-radius{
    border-radius: 0 !important;
}
.bdd{
    border: 1px solid #ddd;
}

/* 按钮  */
.btn{
    -webkit-transition: all ease-in-out .15s;
    transition: all ease-in-out .15s;
}
.btn-info{
    color: #fff;
    background-color: #1badc4;
    border-color: #1badc4;
}
.btn-info:hover, .btn-info:active{
    color: #fff;
    background-color: #15a5bc;
    border-color: #15a5bc;
}
.btn-info-empty {
    color: #1badc4;
    background-color: #fff;
    border-color: #1badc4;
}
.btn-info-empty:hover, .btn-info-empty:active{
    color: #fff;
    background-color: #1badc4;
    border-color: #1badc4;
}

/* 按钮结束  */

/*table*/
.table{
    background-color: #fff;
    margin-top: 8px;
}
.table thead tr th {
    background-color: #f1f1f1;
    border-bottom: 1px solid #e1e6eb;
    color: #666;
    font-weight: normal;
    padding: 8px;
}
.table tbody tr td, .table tbody tr th {
    vertical-align: middle;
    padding: 12px 8px;
}
.table-hover tbody tr:hover td{
    background-color: #f9f9fa;
}

.th-have-bgf9 th{
    background-color: #f9f9fa;
}
tfoot{
    background-color: #f1f1f1;
}

/*.table-ellipsis{
    table-layout: fixed;
}
.table-ellipsis td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}*/

.text-ellipsis{
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*table结束*/

/*panination*/
.ui1-pagination-wrap{
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.ui1-pagination-wrap:before, .ui1-pagination-wrap:after{
    content: '';
    display: table;
}
.ui1-pagination-wrap:after{
    clear: both;
}
.ui1-pagination-body{
    float: right;
}
.ui1-pagination-page{
    float: left;
}
.ui1-pagination-goto{
    float: left;
    margin-left: 20px;
}
.ui1-pagination-page a{
    display: inline-block;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    text-decoration: none;
    color: #666;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ui1-pagination-page a:hover{
    color: #1badc4;
    border: 1px solid #1badc4;
}
.ui1-pagination-page a.cur{
    color: #fff;
    border: 1px solid #1badc4;
    background-color: #1badc4;
}
.ui1-pagination-page a.disabled{
    cursor: not-allowed;
    border-color: #ddd;
    color: #999;
    background-color: #f1f1f1;
}
.ui1-pagination-goto input.ipt {
    width: 40px;
    display: inline-block;
    margin-right: 6px;
}
.ui1-pagination-total-data-tip{
    display: inline-block;
    margin-top: 8px;
}
/*panination结束*/

/*封闭的nav*/
.has-seal-nav .nav > li > a{
    padding: 15px 30px;
}
.has-seal-nav .nav-tabs{
    position: relative;
    border-right: 1px solid #ddd;
    background-color: #f1f1f1;
}
.has-seal-nav .nav-tabs:before{
    content: '';
    display: block;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #ddd;
}
.has-seal-nav .nav-tabs > li > a{
    color: #666666;
    border-radius: 0;
    margin-right: -1px;
    border: 1px solid #ddd;
}
.has-seal-nav .nav-tabs > li.active > a, .has-seal-nav .nav-tabs > li.active:hover > a{
    border-bottom: 1px solid #ffffff;
}
.has-seal-nav .nav-tabs > li > a:hover{
    border: 1px solid #ddd;
}
.has-seal-nav .tab-content{
    border-right:1px solid #ddd;
    border-bottom:1px solid #ddd;
    border-left:1px solid #ddd;
    background-color: #ffffff;
    padding: 50px;
}
/*封闭的nav结束*/

.form-control {
    height: 38px;
    border-radius: 0;
    padding: 6px;
    -webkit-transition: none;
    transition: none;
    font-size: 12px;
}
.form-control:focus{
    box-shadow: none;
}
.input-sm {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.input-group-addon{
    border-radius: 0;
}

/* 相册  */
.thumb50-table{
    display: table;
    height: 50px;
    width: 50px;
    border: 1px solid #ddd;
    text-align: center;
}
.thumb50-table-cell{
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.thumb50-table-cell img{
    max-width: 48px;
    max-height: 48px;
}

.thumb90-table{
    display: table;
    height: 90px;
    width: 90px;
    border: 1px solid #ddd;
    text-align: center;
}
.thumb90-table-cell{
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.thumb90-table-cell img{
    max-width: 88px;
    max-height: 88px;
}

.thumb150-table{
    display: table;
    height: 150px;
    width: 150px;
    border: 1px solid #ddd;
    text-align: center;
}
.thumb150-table-cell{
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.thumb150-table-cell img{
    max-width: 148px;
    max-height: 148px;
}

/* 相册结束  */

/*弹出框*/
.pop-up-window{
    position: absolute;
    z-index: 1000;
    top: 10%;
    left: 50%;
    display: none;
    width: 600px;
    margin-left: -300px;
    background-color: #fff;
    color: #333;
    box-shadow:0 0 10px rgba(0, 0, 0, .3);
}
.pop-up-window-header{
    position: relative;
    display: block;
    height: 60px;
    line-height: 60px;
    background-color: #fff;
}
.pop-up-window-header:after{
    position: absolute;
    content: '';
    border-bottom: 1px solid #ddd;
    left: 15px;
    right: 15px;
    bottom: 0;
}
.pop-up-window-title{
    position: relative;
    left: 30px;
    display: inline-block;
}
.pop-up-window-close{
    position: absolute;
    top: 18px;
    right: 20px;
    font-size: 21px;
    line-height: 1;
    font-weight: 700;
    cursor: pointer;
}
.pop-up-window-close:hover{
    color: #1badc4;
}
.pop-up-window-content{
    display: block;
    padding:20px 30px;
    background-color: #fff;
}
.pop-up-window-footer{
    display: block;
    width: 100%;
    text-align: center;
    background-color: #fff;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.pop-up-window-footer .btn{
    margin-right: 20px;
}
.pop-up-window-footer .btn:last-child{
    margin-right: 0;
}
.pop-top-red-note{
    height: 30px;
    color: red;
}

/*弹出框结束*/

/*字体图标*/
@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?88pxhd');
    src:    url('../fonts/icomoon.eot?88pxhd#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?88pxhd') format('truetype'),
    url('../fonts/icomoon.woff?88pxhd') format('woff'),
    url('../fonts/icomoon.svg?88pxhd#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-icon_arrow_right:before {
    content: "\e900";
}
.icon-icon_clock:before {
    content: "\e901";
}
.icon-icon_dialog:before {
    content: "\e902";
}
.icon-icon_doctor:before {
    content: "\e903";
}
.icon-icon_edit_pen:before {
    content: "\e904";
}
.icon-icon_exit:before {
    content: "\e905";
}
.icon-icon_flag:before {
    content: "\e906";
}
.icon-icon_four_square:before {
    content: "\e907";
}
.icon-icon_four_square_cricle:before {
    content: "\e908";
}
.icon-icon_home:before {
    content: "\e909";
}
.icon-icon_horn:before {
    content: "\e90a";
}
.icon-icon_incoming:before {
    content: "\e90b";
}
.icon-icon_light:before {
    content: "\e90c";
}
.icon-icon_mail_box:before {
    content: "\e90d";
}
.icon-icon_medcial_record:before {
    content: "\e90e";
}
.icon-icon_medical:before {
    content: "\e90f";
}
.icon-icon_note:before {
    content: "\e910";
}
.icon-icon_outcoming:before {
    content: "\e911";
}
.icon-icon_patient:before {
    content: "\e912";
}
.icon-icon_phone:before {
    content: "\e913";
}
.icon-icon_phone_wifi:before {
    content: "\e914";
}
.icon-icon_prescription:before {
    content: "\e915";
}
.icon-icon_sport:before {
    content: "\e916";
}
.icon-icon_study_info:before {
    content: "\e917";
}
.icon-icon_suggestion:before {
    content: "\e918";
}
.icon-icon_telephone:before {
    content: "\e919";
}
.icon-icon_treatment:before {
    content: "\e91a";
}
.icon-icon_triangle:before {
    content: "\e91b";
}
/*字体图标结束*/

/*顶部菜单*/
.view-wrap{
    position: relative;
    background-color: #eee;
}
.view-topbar {
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 101;
    /*background-color: rgba(255,255,255,1);*/
    background-color: #fff;
    box-shadow: 0px 2px 5px 0.3px rgba(198, 198, 198, 0.3);
}
.view-topbar a{
    text-decoration: none;
}
.topbar-left{
    position: relative;
    display: block;
    float: left;
    width: 300px;
    height: 60px;
    margin-left: 30px;
    background-image: url("../img/logo_index.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.topbar-right{
    display: block;
    float: right;
    height: 100%;
}
.view-topbar:after, .view-topbar:before{
    content: "";
    display: table;
}
.view-topbar:after{
    clear: both;
}
.topbar-right-item{
    display: block;
    float: left;
    height: 100%;
}
.topbar-right-item:last-child{
    border-right: 0;
}
.topbar-right-item .topbar-btn{
    position: relative;
    display: block;
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
    color: #333;
    font-size: 14px;
    background-color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.topbar-right-item .topbar-btn:hover{
    background-color: #f9f9f9;
}

.topbar-btn-portrait-img{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    border:1px solid #ddd;
}
.topbar-btn .icon-icon_exit{
    vertical-align: middle;
}
/*顶部菜单结束*/

.view-body{
    position: absolute;
    top: 60px;
    bottom: 0;
    width: 100%;
    background-color: #000;
    z-index: 100;
}

/*左侧菜单栏*/
.view-sidebar{
    position: fixed;
    z-index: 102;
    top: 60px;
    bottom: 0;
    display: block;
    width: 180px;
    padding-top: 40px;
    overflow-x: hidden;
    background-color: #4883c6;
    background: -webkit-linear-gradient(#4883c6,#23bec2);
    background: linear-gradient(#4883c6,#23bec2);
}

.sidebar-bg{
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    display: inline-block;
    width: 170px;
    height: 280px;
    background-image: url("../img/sidebar_bg.png");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.view-sidebar a{
    text-decoration: none;
}

.view-sidebar .sidebar-item-title{
    position: relative;
    display: block;
    width: 100%;
    height: 46px;
    line-height: 46px;
    padding-left: 30px;
    font-size: 14px;
    color: #fff;
    opacity: .7;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sidebar-item-title [class^="icon-"]{
    font-size: 20px;
    vertical-align: middle;
    margin-right: 15px;
    position: relative;
    top: -2px;
}

.view-sidebar .sidebar-item-title:hover{
    opacity: 1;
    background-color:rgba(59,116,168,.3);
    /*background-color: #3d87bd;*/
}
.sidebar-item-title.active, .view-sidebar .sidebar-item-title.active:hover{
    opacity: 1;
    background-color: #3c72a8;
}

.sidebar-item-title.active:before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 8px;
    background-color: #9ddd4b;
}
.sidebar-item-title.active:after{
    position: absolute;
    top: 50%;
    margin-top: -9px;
    right: -6px;
    display: block;
    content: "\e91b";
    color: #f7f7f7;
    font-family: 'icomoon' !important;
    font-size: 18px;
    line-height: normal;
    -webkit-font-smoothing: antialiased;
}

/*左侧菜单栏结束*/

/*--------------------------------------------------右侧主体--------------------------------------------------*/
.search-form-nav{
    margin-top:15px;
    margin-bottom: 15px;
    width: 100%;
}
.view-main{
    position: absolute;
    width: auto;
    top: 0;
    bottom: 0;
    left: 180px;
    right: 0;
    overflow: hidden;
    background-color: #f7f7f7;
}
.view-main-container{
    position: absolute;
    width: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    overflow-y: auto;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}
.icon-icon_incoming{
    color: #72cf9b;
}
.icon-icon_outcoming{
    color: #ffad2d;
}
/*客服首页*/
.box-ptb30-bbdd{
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ddd;
}
.box-ptb30-bbdd:last-child{
    border-bottom: 0;
}
.pre-login-in-time{
    color: #1badc4;
}
.box-title-fs18{
    font-size: 18px;
    color: #404040;
    margin-bottom: 20px;
}
.kjgn-item .icon-icon_medcial_record, .kjgn-item .icon-icon_dialog, .kjgn-item .icon-icon_suggestion, .kjgn-item .icon-icon_telephone, .kjgn-item .icon-icon_mail_box{
    font-size: 34px;
    display: inline-block;
    height: 60px;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 6px;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
}
.kjgn-item .icon-icon_medcial_record{
    background-color: #1badc4;
}
.kjgn-item .icon-icon_dialog{
    background-color: #2cc99f;
}
.kjgn-item .icon-icon_suggestion{
    background-color: #49b7f2;
}
.kjgn-item .icon-icon_telephone{
    background-color: #a08bce;
}
.kjgn-item .icon-icon_mail_box{
    background-color: #de8090;
}
.kjgn-item .icon-icon_medcial_record:hover{
    background-color: #31c0d6;
}
.kjgn-item .icon-icon_dialog:hover{
    background-color: #49deb6;
}
.kjgn-item .icon-icon_suggestion:hover{
    background-color: #6ec9fa;
}
.kjgn-item .icon-icon_telephone:hover{
    background-color: #bbabdf;
}
.kjgn-item .icon-icon_mail_box:hover{
    background-color: #ee9eab;
}
.kjgn-item .icon-icon_medcial_record:before, .kjgn-item .icon-icon_dialog:before, .kjgn-item .icon-icon_suggestion:before, .kjgn-item .icon-icon_telephone:before, .kjgn-item .icon-icon_mail_box:before{
    position: relative;
    top: 12px;
}
.box-title-left-icon{
    font-size: 14px;
    color: #999;
    margin-right: 10px;
}
.kjgn .kjgn-item{
    display: inline-block;
    color: #666666;
    text-decoration: none;
}
.tzgg-ul{
    list-style-type: disc;
    color: #999;
}
.tzgg-ul a{
    color: #666666;
}
.tzgg-ul-flag-wrap{
    position: relative;
    width: 40px;
    height: 15px;
    margin-left: 20px;
    overflow: hidden;
}
.tzgg-ul-flag-wrap .icon-icon_flag{
    position: absolute;
    z-index: 110;
    top: -10px;
    left: 0;
    content: '\e903';
    color: #ffad2d;
    font-size: 40px;
}
.tzgg-ul-flag-wrap .tzgg-ul-flag-content{
    position: absolute;
    z-index: 120;
    color: #ffffff;
    font-size: 10px;
    left: 4px;
    top: 1px;
    text-transform: uppercase;
}
.box-title-fs18 .default-a-more{
    text-decoration: none;
}
.default-a-more{
    float: right;
    font-size: 14px;
    color: #1badc4;
    margin-right: 20px;
}
.thcl-item{
    display: block;
    width: 100%;
    min-height: 120px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #ffffff;
    padding: 20px;
}
.thcl-item{
    position: relative;
    color: #666;
    font-size: 16px;
    overflow: hidden;
}
.thcl-item-header{
    position: absolute;
    top: 20px;
    left: 20px;
}
.thcl-item-header .icon-icon_incoming{
    font-size: 20px;
    color: #72cf9b;
    margin-right: 10px;
}
.thcl-item-header .icon-icon_outcoming{
    font-size: 20px;
    color: #ffad2d;
    margin-right: 10px;
}
.thcl-item-footer{
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 14px;
    color: #999999;
}
.thcl-item-num{
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -38px;
}
.fs50-green{
    font-size: 50px;
    color: #72cf9b;
    margin-right: 5px;
}
.fs50-yellow{
    font-size: 50px;
    color: #ffad2d;
    margin-right: 5px;
}
/*客服首页结束*/

/*接听*/
.customer-tab-body{
}
.step-mark-wrap{
    margin-bottom: 50px;
    height: 100%;
}
.step-mark-item{
}
.step-mark-item-circle{
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    background-color: #d1d1d1;
}
.step-mark-item-text{
    color: #999;
}
.step-mark-wrap .step-mark-item{
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@media (min-width: 768px) {
    .step-mark-line .col-sm-2:before{
        position: absolute;
        content: '';
        display: block;
        top: 15px;
        left: -50%;
        width: 100%;
        border-bottom: 2px solid #D1D1D1;
    }
    .step-mark-line .col-sm-4:before{
        position: absolute;
        content: '';
        display: block;
        top: 15px;
        left: -50%;
        width: 100%;
        border-bottom: 2px solid #D1D1D1;
    }
}
.step-mark-line .col-sm-2:before, .step-mark-line .col-sm-4:before{
    width: 60%;
    left: -30%;
}
.step-mark-line .col-sm-2, .step-mark-line .col-sm-4{
    position: relative;
}

.step-mark-line .col-sm-2:first-child:before{
    border-bottom: 0;
}

.step-mark-line .col-sm-4.first-step:before{
    border-bottom: 0;
}
@media screen and (max-width: 1199px) and (min-width: 768px) {
    .step-mark-line .col-sm-4:first-child:before{
        border-bottom: 0;
    }
}

.have-mark .step-mark-item-circle{
    background-color: #1badc4;
}
.have-mark .step-mark-item-text{
    color: #1badc4;
}
.col-sm-2.have-mark:before, .col-sm-4.have-mark:before{
    border-color: #1badc4;
}
.breadcrumb{
    font-size: 12px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
}
.has-seal-nav .nav-tabs li [class^="icon-"]{
    position: relative;
    top: -1px;
    color: #666;
    margin-right: 10px;
    vertical-align: middle;
    font-size: 16px;
}
.has-seal-nav .nav-tabs li.active [class^="icon-"], .has-seal-nav .nav-tabs li.active a{
    color: #1badc4;
}
.has-seal-nav .nav-tabs li.active [class^="icon-"]{

}
.table-title-box1{
    position: relative;
    margin-bottom: 15px;
}
.table-title-box1 .fl{
    margin-top: 8px;
    margin-bottom: 8px;
}
.text-link-interval {
    font-weight: normal !important;
    margin: 0 4px !important;
}
.text-link-blue{
    color: #1badc4;
    text-decoration: none;
}
.text-link-blue:hover{
    color: #1badc4;
    text-decoration: underline;
}
.text-link-red{
    color: #eb3636;
    text-decoration: none;
}
.text-link-red:hover{
    color: #eb3636;
    text-decoration: underline;
}
.no-padding{
    padding: 0 !important;
}
.no-padding .form-control{
    border: 0;
    -webkit-box-shadow: none;
     box-shadow: none;
}
.cap-inquiry-record-wrap{
    padding: 10px;
    border: 1px solid #ddd;
}
.have-block-inline .radio-inline{
    display: block;
    margin-left: 0;
    margin-bottom: 10px;
}
.cap-inquiry-record-table{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.cap-inquiry-record-table tr td{
    position: relative;
    padding-left: 32px !important;
    cursor: default;
}
.cap-inquiry-record-table tr td [class^="icon-"]{
    position: absolute;
    top: 50%;
    margin-top: -8px;
    left: 8px;
    color: #cecece;
    font-size: 16px;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
    background-color: #fff;
}
.basic-info-form-wrap .input-group-addon, .pop-up-window .input-group-addon{
    border-left: 0;
}
.tool-bar{
    display: block;
    width: 100%;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.tool-bar .btn{
    margin-right: 20px;
}
.tool-bar .btn:last-child{
    margin-right: 0;
}
/*接听结束*/
/*详情*/
.ui2-tab-content{
    padding: 25px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.ui2-tab-content-header{
    position: relative;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
}
.ui2-tab-content-header .fl{
    margin-top: 8px;
    margin-bottom: 8px;
}
.cmr-customer-portrait-wrap{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}
.cmr-customer-portrait-img{
    height: 90px;
    width: 90px;
    border-radius: 100%;
    overflow: hidden;
}
.youwuzhiyoushi{
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    padding: 12px 8px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}
/*详情结束*/

/*医生问诊列表*/
/*adaptive-box固定宽380，两个adaptive-box-item之间的间距最小20, 加上左边nav宽与grid的padding=240那么外容器adaptive-box就有了几个阶段宽度760+40+240=1040，1140+60+240=1440, 1520+80+240=1840*/
/*adaptive-box固定宽380，两个adaptive-box-item之间的间距最大40, 加上左边nav宽与grid的padding=240那么外容器adaptive-box就有了几个阶段宽度760+80+240=1080，1140+120+240=1500，1520+160+240=1920*/
.adaptive-con-wrap{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.adaptive-con{
    width: 100%;
}
.adaptive-box-item{
    position: relative;
    display: inline-block;
    float: left;
    margin-bottom: 10px;
}
.adaptive-box{
    position: relative;
    height: 160px;
    width: 380px;
    overflow: hidden;
    padding: 20px;
    display: block;
    border: 1px solid #ddd;
    margin: 0 auto;
    background-color: #fff;
    color: #404040;
    -webkit-transition: all ease-in-out .15s;
    transition: all ease-in-out .15s;
}
.adaptive-box:hover{
    box-shadow: 0px 2px 8.28px 0.72px rgba(198, 198, 198, 0.45);
}
@media screen and (min-width: 1840px) { /* Columns increased to 4 */
    .adaptive-con-wrap {
        max-width: 1920px;
    }
    .adaptive-box-item {
        width: 25%;
    }
}

@media screen and (max-width: 1840px) and (min-width: 1440px) { /* Columns decreased to 3 */
    .adaptive-con-wrap {
        max-width: 1500px;
    }
    .adaptive-box-item {
        width: 33.3%;
    }

}

@media screen and (max-width: 1440px) and (min-width: 1040px) {/* Columns decreased to 2 */
    .adaptive-con-wrap{
        max-width: 1080px;
    }
    .adaptive-box-item {
        width: 50%;
    }
}

@media screen and (max-width: 1040px) { /* Columns decreased to 1 */
    .adaptive-box-item {
        width: 100%;
    }
}

.ad-portrait{
    position: absolute;
    top: 20px;
    left: 20px;
    display: block;
    float: left;
}
.ad-portrait-img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    overflow: hidden;
}
.ad-con{
    padding-left: 80px;
    height: 100%;
}
.ad-con .col-xs-3, .ad-con .col-xs-6{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.ellipsis-ptl{
    color: #888;
}
.ad-con-name{
    font-size: 16px;
    font-weight: 700;
    color: #1badc4;
}
.ad-con-name:hover{
    color: #1badc4;
    text-decoration: underline;
}
/*医生问诊列表结束*/
/*问诊血压记录*/
.have-min-w990{
    min-width: 990px;
}

.dtphp-list-wrap{

}
.dtphp-list-box{
    position: relative;
    display: block;
    outline-width: 1px;
    outline-style: solid;
    outline-color: #ddd;
    height: 50px;
    width: 670px;
    line-height: 50px;
    overflow: hidden;
    margin-bottom: 15px;
}
.dtphp-list-box:after, .dtphp-list-box:before{
    display: table;
    content: '';
}
.dtphp-list-box:after{
    clear: both;
}
.dtphp-list-box .icon-icon_clock{
    color: #ccc;
    font-size: 20px;
    position: relative;
    top: 3px;
}
.dtphp-list-box .item-status, .dtphp-list-box .item-pressure-num, .dtphp-list-box .item-heart-num, .dtphp-list-box .item-test-time{
    display: block;
    float: left;
    text-align: center;
}
.dtphp-list-box .item-status{
    width: 100px;
    border-right: 1px dashed #ddd;
}
.dtphp-list-box .item-pressure-num{
    width: 230px;
}
.dtphp-list-box .item-heart-num{
    width: 120px;
}
.dtphp-list-box .item-test-time{
    width: 220px;
}
.dtphp-list-box .item-status .item-status-text{
    font-size: 20px;
}
.item-status-text:after{
    content: "";
    display: inline-block;
    position: relative;
    right: -30px;
    top: 2px;
    z-index: 100;
    width: 19px;
    height: 19px;
    border-radius: 100%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.phone-blue .item-status-text:after{
    background-image: url(../img/icon_phone_blue.png);
}
.phone-yellow .item-status-text:after{
    background-image: url(../img/icon_phone_yellow.png);
}
.phone-green .item-status-text:after{
    background-image: url(../img/icon_phone_green.png);
}
.phone-red-small .item-status-text:after{
    background-image: url(../img/icon_phone_red_small.png);
}
.phone-red-middle .item-status-text:after{
    background-image: url(../img/icon_phone_red_middle.png);
}
.phone-red-big .item-status-text:after{
    background-image: url(../img/icon_phone_red_big.png);
}

.pen-blue .item-status-text:after{
    background-image: url(../img/icon_pen_blue.png);
}
.pen-yellow .item-status-text:after{
    background-image: url(../img/icon_pen_yellow.png);
}
.pen-red-small .item-status-text:after{
    background-image: url(../img/icon_pen_red_small.png);
}
.pen-green .item-status-text:after{
    background-image: url(../img/icon_pen_green.png);
}
.pen-red-middle .item-status-text:after{
    background-image: url(../img/icon_pen_red_middle.png);
}
.pen-red-big .item-status-text:after{
    background-image: url(../img/icon_pen_red_big.png);
}

.pen-blue .item-status-text, .phone-blue .item-status-text{
    color: #46dbd2;
}
.pen-yellow .item-status-text, .phone-yellow .item-status-text{
    color: #febb52;
}
.pen-red-small .item-status-text, .phone-red-small .item-status-text{
    color: #f98383;
}
.pen-green .item-status-text, .phone-green .item-status-text{
    color: #92e21b;
}
.pen-red-middle .item-status-text, .phone-red-middle .item-status-text{
    color: #f66868;
}
.pen-red-big .item-status-text, .phone-red-big .item-status-text{
    color: #ee5147;
}
/*问诊血压记录结束*/
/*问诊历史*/
.left-line-right{
    position: relative;
    text-align: center;
}
.left-line-right:after{
    position: absolute;
    z-index: 1;
    content: '';
    width: 100%;
    left: 0;
    right: 0;
    top: 50%;
    border-bottom: 1px solid #ddd;
}
.left-line-right-title{
    position: relative;
    z-index: 2;
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
    color: #666;
    background-color: #fff;
}
/*问诊历史结束*/
/*--------------------------------------------------右侧主体结束*--------------------------------------------------/