/*.section4 .col-sm-4 {
	padding-left: 0;
	padding-right: 0;
}

.section12 .col-sm-6 {
	padding-left: 0;
	padding-right: 0;
}

.footer .container .col-sm-2,
.footer .container .col-sm-3,
.footer .container .col-sm-4,
.footer .container .col-sm-3 {
	padding-left: 0;
	padding-right: 0;
}
.iphoneBtn b, .androidBtn b {
    background: url(../image/downloadIcon_ie8.png) right top no-repeat;
}*/
