.tab-nav, .tab-nav li{
    list-style: none;
    padding: 0;
}
.tab-nav li{
    display: block;
    float: left;
}
.ui1-tab-nav li a{
    display: block;
    margin-right: 2px;
    padding-left: 15px;
    padding-right: 15px;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    color: #666;
    box-sizing:border-box;
    border-bottom: 3px solid transparent;
    outline: none;
}
.ui1-tab-nav li a:hover{
    background-color: #eee;
    border-bottom: 3px solid #eee;
}
.ui1-tab-nav li a.current, .ui1-tab-nav li a.current:hover{
    border-bottom: 3px solid #1badc4;
    color: #1badc4;
    background-color: transparent;
}
.tab-nav:before, .tab-nav:after{
    display: table;
    content: '';
}
.tab-nav:after{
    clear: both;
}

.ui2-tab-nav{
    border-bottom: 1px solid #ddd;
}
.ui2-tab-nav li a{
    display: block;
    margin-right: -1px;
    margin-bottom: -1px;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    color: #666;
    box-sizing:border-box;
    background-color: #eee;
    border: 1px solid #ddd;
    outline: none;
}
.ui2-tab-nav li a:hover{
    background-color: #fff;
    color: #1badc4;
}
.ui2-tab-nav li a.current, .ui2-tab-nav li a.current:hover{
    color: #1badc4;
    background-color: #fff;
    border-bottom: 1px solid #fff;
}