#qavSdk{
    display: none;
}
body{
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    min-width: 960px;
    /*min-height: 750px;*/
    background-color: #3a3a3a;
    color: #d8d8d8;
}
.new-window-wrap{
    position: relative;
    height: 100%;
    width: 100%;
}
.new-win-con{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}
.new-window-main{
    position: relative;
    width: 70%;
    height: 100%;
    /*min-width: 672px;*/
    /*min-height: 750px;*/
    display: block;
    float: left;
    /*background-color: green;*/
}
.new-window-nav{
    position: relative;
    width: 30%;
    height: 100%;
    /*min-width: 288px;*/
    /*min-height: 750px;*/
    display: block;
    float: left;
}

.new-window-nav dl dt{
    color: #a5a5a5;
}
.doctor-video{
    height: 100%;
}
.doctor-video-header{
    position: absolute;
    z-index: 8100;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #323232;
    color: #d8d8d8;
    font-size: 16px;
}
.doctor-video-footer{
    position: absolute;
    z-index: 8100;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    height: 80px;
    line-height: 80px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #323232;
    color: #d8d8d8;
}
.doctor-video-body{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: #252525;
    z-index: 8000;
    height: 100%;
    /*min-height: 600px;*/
}
.call-off-btn{
    position: absolute;
    right: 30px;
    top: 25px;
    min-width: 100px;
}

.dv-user-info-header{
    display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 16px;
}
.dv-user-info-body{
    padding: 20px 10px;
}
/*.dv-user-info-body .dl-horizontal dt{
    width: 80px;
}*/
/*.dv-user-info-body .dl-horizontal dd{
    margin-left: 100px;
    margin-bottom: 8px;
}*/

.window-ctrl-btn{
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -40px;
    display: block;
    height: 80px;
    width: 10px;
    background-image: url("../images/nav_ctrl_btna.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.video-loading-img-box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin-left: -60px;
    margin-top: -60px;
    text-align: center;
    /*background-color: #999999;*/
}
.video-loading-img{

}
.video-loading-text{
    font-size: 18px;
    margin-top: 15px;
    color: #fff;
}

.view-sidebar-none .new-window-nav{
    width: 0;
    overflow: hidden;
}
.view-sidebar-none .new-window-main{
    width: 100%;
    overflow: hidden;
}
.view-sidebar-none .view-sidebar-block{
    width: 30%;
    overflow: hidden;
}
.display-none{
    display: none;
    height: 0;
    width: 0;
    overflow: hidden;
}
.ilvb-note-wrap{
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}
.all-video-box{
    position: absolute;
    z-index: 8300;
    width: 650px;
    height: 480px;
    top: 50%;
    left: 50%;
    margin-left: -325px;
    margin-top: -240px;
    /*background-color: #a6e1ec;*/
}
/*患者视频*/
.other-windows1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 350px;
    height: 480px;
    /*background-color: cornflowerblue;*/
}
/*医生视频*/
.main-windows{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 150px;
    /*background-color: #ffff00;*/
}

/*
.float-tck-layer{
    display: none;
    position: absolute;
    z-index: 9000;
    top:100px;
    left: 100px;
    height: 800px;
    width: 800px;
    background-color: #000000;
}*/
